.color-container {
  width: 100%;
}

.color-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 1rem;
} 
.color-box {
  width: 10rem;
  height: 10rem;
  background-color: red;
}

.color-slider {
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  width: 50%;
  height: 10rem;
}

.color-slider input {
  padding: 1rem;
}
/* yanked this stuff down her' from internet */

.slider {
  -webkit-appearance: none;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: blue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: blue;
  cursor: pointer;
}

